@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700');
@import '../general/variables';

body {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-size: $bodyfont-size;
  color: $bodycolor;
  box-sizing: border-box;
}