.navbar {
  background: $black;
  color: $ltgrey;
  height: 3rem;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.brand { color: $primary-color; }
.navigation > ul {
  display: inline-flex;
  list-style: none;
  > li {
    padding: 0 10px;
  }
}

.jumbotron {
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  h1 {
    font-weight: 400;
    margin-bottom: 20px;
    span {
      font-weight: 700;
    }
  }
  h3 {
    font-weight: 300;
  }
}

.button-group {
  display: flex;
  width: 350px;
  justify-content: space-between;
  margin-top: 20px;
  padding: 10px;
  box-sizing: border-box;
  a.primary {
    background: $primary-color;
    color: $white;
    text-align: center;
    padding: 10px 20px;
    transition: all 0.3s ease-out;
  }
  a.primary:hover {
    background: $white;
    color: $primary-color;
    cursor: pointer;
  }
  a.secondary {
    background: $white;
    color: $black;
    border: 1px solid $black;
    text-align: center;
    padding: 10px 20px;
    transition: all 0.3s ease-out;
  }
  a.secondary:hover {
    background: $black;
    color: $white;
    border: 1px solid $white;
    cursor: pointer;
  }
  svg {
    font-size: 1.3rem;
  }
}

#search-user {
  background: none;
  border: none;
  font-size: $bodyfont-size;
  color: $ltgrey;
  padding-left: 5px;
  outline-color: rgba($primary-color, 1);
}